<div>
  <input type="text" [(ngModel)]="bin.user.city" [ngModelOptions]="{standalone: true}" placeholder="city">
  <br>
  <input type="text" [(ngModel)]="bin.user.email" [ngModelOptions]="{standalone: true}" placeholder="email">
  <br>
  <input type="text" [(ngModel)]="bin.user.firstName" [ngModelOptions]="{standalone: true}" placeholder="firstName">
  <br>
  <input type="text" [(ngModel)]="bin.user.lastName" [ngModelOptions]="{standalone: true}" placeholder="lastName">
  <br>
  <input type="text" [(ngModel)]="bin.user.middleName" [ngModelOptions]="{standalone: true}" placeholder="middleName">
  <br>
  <input type="text" [(ngModel)]="bin.user.phone" [ngModelOptions]="{standalone: true}" placeholder="phone">
  <br>
<button (click)="buy()">buy</button>
</div>
