<div class="admin-left-side-bar">
  <ul>
    <li>
      <a [routerLink]="'add-materials'">add-materials</a>
    </li>
    <li>
      <a [routerLink]="'add-category'">add-category</a>
    </li>
    <li>
      <a [routerLink]="'add-product'">add-product</a>
    </li>
    <li>
      <a [routerLink]="'materials'">materials</a>
    </li>
    <li>
      <a [routerLink]="'category'">category</a>
    </li>
    <li>
      <a [routerLink]="'product'">product</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
