<div class="admin-right-container">
<form #form>
  <select>
    <option selected>selected</option>
    <option>no</option>
    <option value="NEW_ORDER">NEW_ORDER</option>
    <option value="EQUIPMENT">EQUIPMENT</option>
    <option value="TRANSFER_TO_CARRIER">TRANSFER_TO_CARRIER</option>
    <option value="TRANSFERRED_IN_DELIVERY_SERVICE">TRANSFERRED_IN_DELIVERY_SERVICE</option>
    <option value="ORDER_WAITING_CUSTOMER">ORDER_WAITING_CUSTOMER</option>
    <option value="COMPLETE">COMPLETE</option>
  </select>
</form>
<div *ngFor="let one of bins">
  <span style="color: red">{{one|json}}</span>
</div>


</div>
