<div class="admin-right-container">
  <input type="file" id="image-c-m-id" [ngClass]="{'disable':material.image}" (change)="changeFileImage($event)">
  <label for="image-c-m-id" *ngIf="material.image">
  <img src="{{material.image.content}}" *ngIf="material.image" >
  </label>
    <app-create-image [imageChangedEvent]="fileImageField" (getImage)="setImage($event)"></app-create-image>
  <div>
    <input [(ngModel)]="material.name.valueEn" placeholder="name.valueEn">
    <input [(ngModel)]="material.name.valueRu" placeholder="name.valueRu">
    <input [(ngModel)]="material.name.valueUa" placeholder="name.valueUa">
  </div>
  <div>
    <input [(ngModel)]="material.description.valueEn" placeholder="description.valueEn">
    <input [(ngModel)]="material.description.valueRu" placeholder="description.valueRu">
    <input [(ngModel)]="material.description.valueUa" placeholder="description.valueUa">
  </div>
  <button (click)="save()">save</button>
</div>
